<html>
	<head>
		<title>Lab5 - Game</title>
		<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
	</head>
	<body>
		<header>
		</header>
		<div id="game-form">
			<div id="type">
				<select id="type-selector">
					<option value="low" selected>Несложно</option>
					<option value="middle">Достаточно сложно</option>
					<option value="hard">Сложно</option>
				</select>
			</div>
			<div id='pic'>
				<img src="{{pic_url}}" height="300px" alt="Picture">
			</div>
			<div id="answer-title">
				<span>Choose wisely</span>
			</div>
			<div id='answer'>
				<select id="ans-input">
					<option value = "first"></option>
					<option value = "second"></option>
					<option value = "third"></option>
					<option value = "forth"></option>
				</select>
			</div>
			<div id="button">
				<button id="ans-bttn">Ответить</button>
			</div>
			<div id="result" class="hidden">
				<span id="result-msg">Верно</span>
			</div>
		</div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
	</body>
</html>